@import 'init';

.paragraph,
.paragraph * {
  box-sizing: border-box;
}

body {
  --gutters: #{$gutters};
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }
}

@import 'base/headings/headings-admin';

@import 'utilities';

@import "@bitforge/bf-theme-base/sass/buttons";
@import "@bitforge/bf-theme-base/sass/utilities/utilities";
@import "@bitforge/bf-theme-base/sass/layout/grid-base";
@import "@bitforge/bf-theme-base/sass/layout/grid";
@import "@bitforge/bf-theme-base/sass/layout/columns";
@import "@bitforge/bf-theme-base/sass/layout/sidebars-cssgrid";

//Fix layout paragraphs add button when used with grid layout
.layout--grid {
  button.layout-paragraphs-add-content__toggle {
    width: 30px !important;
  }
}

// Set all links inside field_paragraphs
.field--name-field-paragraphs {
  a {
    color: $link-color;
  }
}
