@import 'init';

@import '@bitforge/bf-theme-base/sass/base/embedded/embedded';

body {
  --gutters: #{$gutters};
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }
}

a {
  color: $link-color;
}
