@import 'init';

.draggable {
  .views-field {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  a.tabledrag-handle {
    float: none;
    height: 16px;
    margin: 0;

    .handle {
      width: 16px;
      height: 16px;
      margin: 0;
      padding: 0;
      background-position: 0 0;
    }
  }
}
