{% set classes = [
'node',
'node--' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<article {{ attributes.addClass(classes) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
  <header>
    {% block header %}
      {{ title_prefix }}
      {% if not page and label %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}">{{ label }}</a>
      </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
      <div class="submitted">
        {{ author_picture }}
        {{ submitted }}
      </div>
      {% endif %}

      {% if unpublished %}
      <p class="unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    {% endblock %}
  </header>
  {% endif %}


  {% block content %}
  {{ content|without('comment', 'links') }}
  {% endblock %}

  {% if content.links.terms %}
  <div class="terms">
    {% block terms %}
    {{ content.links.terms }}
    {% endblock %}
  </div>
  {% endif %}

  {% if content.links %}
  <div class="links">
    {% block links %}
    {{ content.links }}
    {% endblock %}
  </div>
  {% endif %}

  {{ content.comment }}
</article>
