@import 'headings-base';

// Bootstrap Typography
// Copy bootstrap's typography reboot here so that we can include just the headings portion of the _reboot.scss file.
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

@if $headings-font-family == null {
  $headings-font-family: $theme-font-family-base;
}

%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

body.user-logged-in .paragraph {
  h1 {
    @extend %heading;
    @extend %h1;
    @include font-size($h1-font-size);
  }

  h2 {
    @extend %heading;
    @extend %h2;
    @include font-size($h2-font-size);
  }

  h3 {
    @extend %heading;
    @extend %h3;
    @include font-size($h3-font-size);
  }

  h4 {
    @extend %heading;
    @extend %h4;
    @include font-size($h4-font-size);
  }

  h5 {
    @extend %heading;
    @extend %h5;
    @include font-size($h5-font-size);
  }

  h6 {
    @extend %heading;
    @extend %h6;
    @include font-size($h6-font-size);
  }
}
