{% if attributes is not empty %}
<div{{ attributes }}>
{% endif %}
  <header id="header" class="content layout-container--page-width">
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" class="header__logo m-0"><img src="{{ logo }}" alt="{{ 'Home'|t }}" class="header__logo-image" /></a>
    {% endif %}

    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </header>

  {% if page.pre_content %}
    <div class="pre-content" id="pre-content">
      {{ page.pre_content }}
    </div>
  {% endif %}

  <div{{ main_attributes.setAttribute('id', 'main') }}>
    {% if page.sidebar_first %}
      <aside class="layout__first" id="sidebar-first">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    <section id="content" class="layout__main">
      {% if breadcrumb or title or messages or tabs or action_links %}
        <div id="content-header">

          {{ breadcrumb }}

          {% if page.highlighted %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}

          {{ title_suffix }}
          {{ messages }}
          {{ page.help }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div>
      {% endif %}
      <div id="content-area">
        {{ page.content }}
      </div>

      {{ feed_icons }}
    </section>
    {% if page.sidebar_second %}
      <aside class="layout__second" id="sidebar-second">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </div>

  {% if page.post_content %}
    <div class="post-content" id="post-content">
      {{ page.post_content }}
    </div>
  {% endif %}

  {% if page.footer %}
    <footer id="footer">
      <div class="content layout-container--page-width">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
{% if attributes is not empty %}
</div>
{% endif %}
