{% extends '@bf_theme/layout/region.html.twig' %}

{% block content %}
  {{ content }}

  <nav role="navigation" id="mmenu" class="navigation menu--mobile">
    <ul class="menu navbar">
      <li class="menu__item" id="mobile-menu-trigger">
        <a class="menu__link" href="#mmenu">
          <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
